body {
  padding: 0;
  text-align: center;
}

.canvas {
  width: 500px;
  height: 800px;
  float: right;
}

body p {
  position: absolute;
  padding-left: 975px;
  font-weight: 800;
  font-size: 40px;
  margin-top: 0px;
}
